.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: white;   
    color: rgb(54, 54, 54);
    .websocket{
        color: rgb(29, 29, 118) ;
        .connected{
            color: rgb(0, 212, 0);
            font-weight: bolder;
        }
        .disconnected{
            color: red;
            font-weight: bolder;

        }
    }
    .headline{
        font-size: 35px;
        margin-bottom: 15px;

    }
    .paragraph{
        font-size: 17px;
            margin-bottom: 35px;
            color: rgb(73, 73, 73);
            font-weight: bold;
        .online{
            color: rgb(0, 212, 0);
            font-weight: bolder;
        }
        .offline{
            color: red;
            font-weight: bolder;

        }
    }
}