.health-status {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    border-radius: 20px;
    font-weight: 500;
    
    .data-tag {
      margin: 5px 0;
    }
    .data{
        color :rgb(29, 29, 118)
    }
  }